{% extends 'accounts/homepage.html' %}

{% block content %}

<h2>Mô hình hóa</h2>

<div class="modeling" style="">
    <p>Chọn một cột dữ liệu làm Target!</p>
    <form name="form_model" method="post">
    {% csrf_token %}
    <select name="col_model" class="w-75" style="min-width: 300px;">
        <option value="{{ col_picked }}" style="display: none;">{{ col_picked }}</option>
        {% for col in columns %}
            <option value="{{ col }}" {% if col == col_model %}selected{% endif %}>{{ col }}</option>
        {% endfor %}
    </select>
    <p>Chọn những cột sẽ làm đặc trưng!</p>
    <p>Đừng bỏ chọn cột làm Target!</p>
    <div style="width: 300px; height: 400px; overflow: auto; border: 1px solid #ccc;">
            {{ form.as_p }}
    </div>
        <button type="submit" name="run_model" class="btn btn-primary mt-2">Run Model</button>
    </form>
</div>

{% if loading == True %}
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
{% endif %}


{% if loading == False %}
    {% if error is not None %}
        <h3>Lỗi:</h3>
        {% for e in error %}
        <p> {{ e }} </p>
        {% endfor %}
    {% else %}
    <div>
        <p><b>Choosed Features:</b> {{ choose_features }}</p>
            <h1>Tổng kết mô hình</h1>
            <table>
                <thead>
                    <tr>
                        {% for col in cols_compare %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_compare %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}

{% endblock %}