{% extends 'accounts/profile.html' %}

{% block content %}

{% include 'accounts/profile_tab.html' %}

<p>overview</p>

<div>
    <table class="table_01">
    <tr>
        <th>Dataset statistics</th>
        <th>Values</th>
    </tr>
    <tr>
        <th>Number of Features</th>
        <td>{{ num_features }}</td>
    </tr>
    <tr>
        <th>Number of Samples</th>
        <td>{{ num_samples }}</td>
    </tr>
</table>
</div>
<div>
    <h2>Visualize</h2>
    <img src="data:image/png;base64,{{ graphic }}" alt="plot">
</div>

<a href="/model" class="btn btn-primary">Tiếp theo</a>

{% endblock %}