{% extends 'accounts/homepage.html' %}

{% block content %}

<div class="mt-3">
    <h2>Tải dữ liệu của bạn lên tại đây</h2>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for r in row %}
                        <td>{{ r }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{ form.as_p }}
    <!-- <input type="file" name="my_file"/> -->
    <button type="submit">Upload</button>

    {{form.errors}}

    {% for message in messages %}
    <p id="messages"> {{message}} </p>
    {% endfor %}
</form>


<form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{ form.as_p }}
    <!-- <input type="file" name="my_file"/> -->
    <button type="submit">Upload</button>

    {{form.errors}}

    {% for message in messages %}
    <p id="messages"> {{message}} </p>
    {% endfor %}
</form>


<table class="table">
    <tr>
        <th>Heading</th>
        <th>Heading</th>
        <th>Heading</th>
    </tr>
    <tr>
        <td>Row</td>
        <td>Row</td>
        <td>Row</td>
    </tr>
</table>

<a href="/profile" class="btn btn-primary">Tiếp theo</a>

{% endblock %}